.showoff{
    background-image: url("C:\React\gamerszone\public\images\div1background.png ");
    height: 100vh;
}

.showoff textarea{
    display: flex;
    flex-direction: column;
}


.startbutton{
    border-radius: 5px;
    background-color: grey;
    color: white;
}